<div class="modal fade" id="aboutModal" tabindex="-1">

  <div class="modal-dialog">

    <div class="modal-content">

      <!-- Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          {{translateService.currentLang === 'pt-PT' ? 'Sobre o Gerador de Horários' : 'About Gerador de Horários'}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Body -->
      <div class="modal-body">

        <div *ngIf="translateService.currentLang === 'pt-PT'">
          <p class="text-muted">
            O <em>Gerador de Horários | IST</em> surgiu para que <b>planear o horário do próximo semestre não seja uma dor
            de cabeça</b>!
          </p>

          <p class="text-muted">
            Permite-te encontrar o melhor horário consoante as tuas necessidades e cadeiras, e guardá-lo em
            formato PDF para o poderes consultar a qualquer altura. Podes, também, coordenar com os teus colegas turnos
            específicos fixando slots.
          </p>

          <p class="text-muted">
            Devido à mudança do IST para horários semestrais e à indisponibilidade da autora original, decidi assumir o 
            projeto e lançar um update de emergência. Esta não é, de forma alguma, uma versão finalizada ou 
            polida, mas já corrige os erros de falta de memória e também permite escolher turmas de múltiplos 
            turnos (gamei o codigo dum gajo que fez um pull request há uns anos lol)
          </p>

          <h6 class="text-center"><b>Novo repositório</b><br> acede
            <a href="https://github.com/itzhrqz/gerador-horarios-ist" target="_blank">aqui</a></h6>
        </div>

        <div *ngIf="translateService.currentLang === 'en-GB'">
          <p class="text-muted">
            The <em>Gerador de Horários | IST</em> appeared so that <b>planning the next semester's schedule is a piece
            of cake</b>!
          </p>

          <p class="text-muted">
            It lets you find the best schedule based on your needs and courses, and save it in a PDF format so you can
            check it out anytime. You can also coordinate shifts with your colleagues by pinning classes.
          </p>
          
          <p class="text-muted">
            Due to IST change to semester-based schedules and the original author's unavailability, I decided to take over this project 
            and give it an emergency update, this is by no means a finished or polished version but it already fixes the out of memory errors
            and also allows to choose classes from multiple shifts (stole it from a guy who made a pull request some years ago lol).
          </p>

          <h6 class="text-center"><b>Want to contribute?</b><br> Take a look at our Github
            <a href="https://github.com/itzhrqz/gerador-horarios-ist" target="_blank">repository</a>.</h6>
        </div>
      </div>

    </div>

  </div>

</div>
